
#cart-container {
    padding: 20px o;
}

.cart-total-container {
    padding: 0 20px 10px 20px;
}

.cart-total-container h3 {
    text-align: right;
    color:rgb(22, 158, 22);
    font-size: 18px;
}

.cart-item-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.cart-item-container img {
    width: 98px;
    height: 98px;
}

.cart-item-left {
    display: flex;
}

.cart-item-quantity-container {
    display: flex;
    font-size: 16px;
    font-weight: 700;
}

.cart-item-right {
    padding: 10px 0;
    color:rgb(22, 158, 22);
    font-size: 16px;
    font-weight: 700;
}

.cart-item-description { 
    padding: 10px 0;
    color:rgb(105, 105, 105);
}

.cart-item-description h3 {
    font-size: 17px;
}

.cart-item-quantity-btn {
    color:dodgerblue;
    cursor: pointer;
}

.cart-item-quantity-container p {
    margin: 0 5px;
}