@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body { 
    background-color: rgb(224, 224, 224);
}

main {
    padding: 0 20px;
}

/*---------------------------------------------------------------------------------------------*/
/* generic styles */

.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dsc-mb20 {
    margin-bottom:20px;
}

.dsc-mt20 {
    margin-top:20px;
}

/*---------------------------------------------------------------------------------------------*/
/* header styles */

header {
    background-color: steelblue;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 17px;
    font-weight: 700;
}

/*---------------------------------------------------------------------------------------------*/
/* card styles */

.dsc-card {
    border-radius: 7px 7px 7px 7px;
    background-color: aliceblue;
}

/*---------------------------------------------------------------------------------------------*/
/* buttom styles */

.dsc-line-bottom {
    border-bottom: 1px solid #d9d9d9;
}

.dsc-btn-page-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
}

@media (min-width: 576px) {
    .dsc-btn-page-container {
        width: 220px;
    }    
}

.dsc-btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 82, 219);
}

.dsc-btn-blue {
    background-color: rgb(8, 82, 219);
    color: #fff;
}

.dsc-btn-white {
    background-color: #fff;
    color:  rgb(8, 82, 219);
    border: 1px solid  rgb(8, 82, 219);
}

.dsc-btn-next-page {
    border: 1px solid rgb(8, 82, 219);
    padding: 10px;
    border-radius: 4px;
    color: rgb(8, 82, 219);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
